<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <title>{{ title }}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='logo-carre.png') }}" type="image/x-icon"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://code.iconify.design/iconify-icon/1.0.2/iconify-icon.min.js"></script>
    <!-- Our CSS -->
    <!--link href="{{ url_for('static', filename='dist/css/home.css') }}" rel="stylesheet"-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      body {
        background-image: url({{ url_for('static', filename='Banner-2-notext-revised.jpg') }});
      }
      
      
    </style>
    {% block styles %}{% endblock %}

    <title>Extreme XP</title>
  </head>



  
  <body class="{{ template }}" >
  	{% include 'navbar.jinja2' %}
  	<br/>
  	<div class="container">
		{% block content %}
		{% endblock %}
    {%- block footer %}
      <footer class="fixed-bottom bg-dark">      
        <h5 class="text-center text-muted">Developed with care by  : <a href="https://www.iccs.gr/en/"><img src="{{ url_for('static', filename='new_iccs_logo.png') }}" width="50"/></h5></a>
      </footer>
    {%- endblock footer %}
	</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

  {% block scripts %}{% endblock %}
  </body>
</html>
